index {
      background-image: url("https://mcpc.onrender.com/www/dirt.png");
        background-repeat: repeat-x;
        }
        body {
          background-image: url("https://mcpc.onrender.com/www/stone.png");
            background-repeat: repeat;
            }

            span {
              color: white;
                font-family: Arial, Helvetica, sans-serif;
                }

                a {
                  color: blue;
                    font-family: Arial, Helvetica, sans-serif;
                    }
}
